<launch>
  <arg name="root" value="$(find ubiquity_launches)" />
  <arg name="mapping_mode" default="false" />
  <arg name="jst" value="joystick_teleop" />
  <arg name="cam" value="camera" />
  <arg name="ms"  value="map_server" />
  <arg name="mb"  value="move_base" />

  <!-- Basic joystick teleop enabled base -->
  <include
   file="$(arg root)/m_$(arg jst)/launch/m_$(arg jst).launch" />

  <!-- Camera -->
  <include
   file="$(arg root)/n_$(arg cam)/launch/n_$(arg cam).launch" />

  <!-- map node -->
  <include
   file="$(arg root)/n_$(arg ms)/launch/n_$(arg ms).launch.xml" />

  <!-- Fiducial detection -->
  <include
    file="$(arg root)/loki_fiducial_detect/launch/fiducial_detect.launch">
    <arg name="camera" value="/camera"/>
    <arg name="image" value="image_raw"/>
    <arg name="fiducial_len" value="0.200"/>     <!-- default 0.145 mjWall 0.09  mjGar 0.135 wayne .200 -->
    <arg name="undistort_points" value="true"/>
  </include>

  <!-- Fiducial slam -->
  <include file="$(arg root)/loki_fiducial_slam/launch/fiducial_slam.launch">
    <arg name="mapping_mode" value="$(arg mapping_mode)"/>
    <arg name="camera_frame" value="raspi_camera_frame"/>
    <arg name="map_frame" value="map"/>
    <arg name="odom_frame" value="odom"/>
    <arg name="pose_frame" value="base_link"/>
  </include>

  <!-- move_base node -->
  <include
   file="$(arg root)/n_$(arg mb)/launch/n_$(arg mb).launch.xml" />

</launch>
