<launch>
  <arg name="root" value="$(find ubiquity_launches)" />
  <arg name="mapping_mode" default="false" />

  <!-- Camera -->
  <include
    file="$(arg root)/loki_camera/launch/camera.launch"/>
  
  <!-- Robot State Publisher -->
  <include
   file="$(arg root)/loki_description/launch/description.launch" />

  <!-- ROS Arduino Bridge -->
  <node name="arduino" pkg="bus_server" type="bus_server.py" output="screen">
    <rosparam file="$(arg root)/exprimental/wayne/params/wayne.yaml"
     command="load" />
  </node>

  <!-- Joystick Input -->
  <include file="$(arg root)/loki_joystick/launch/joystick.launch"/>

  <!-- Fiducial detection -->
  <include
    file="$(arg root)/loki_fiducial_detect/launch/fiducial_detect.launch">
    <arg name="camera" value="/camera"/>
    <arg name="image" value="image_raw"/>
    <arg name="fiducial_len" value="0.200"/>     <!-- default 0.145 mjWall 0.09  mjGar 0.135 wayne .200 -->
    <arg name="undistort_points" value="true"/>
  </include>

  <!-- Fiducial slam -->
  <include file="$(arg root)/loki_fiducial_slam/launch/fiducial_slam.launch">
    <arg name="mapping_mode" value="$(arg mapping_mode)"/>
    <arg name="camera_frame" value="raspi_camera_frame"/>
    <arg name="map_frame" value="map"/>
    <arg name="odom_frame" value="odom"/>
    <arg name="pose_frame" value="base_link"/>
  </include>

  <!-- map node -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen"
    args="$(arg root)/xloki_local_costmap/params/map.yaml" />

  <!-- move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base"
        output="screen">

    <remap from="/cmd_vel" to="/cmd_vel_mux/input/navigation"/>

    <rosparam
      file="$(arg root)/xloki_local_costmap/params/dagny_nav.yaml"
      command="load"/>
    <rosparam
      file="$(arg root)/xloki_local_costmap/params/local_planner.yaml"
      command="load"/>
  
    <!-- local costmap parameters. Small laser scanner on /scan -->
    <rosparam
      file="$(arg root)/xloki_local_costmap/params/common_costmap.yaml"
      command="load" ns="local_costmap"/>
    <rosparam
      file="$(arg root)/xloki_local_costmap/params/local_costmap.yaml"
      command="load" ns="local_costmap"/>
  
    <!-- global costmap parameters. Should just be a static map. -->
    <rosparam
      file="$(arg root)/xloki_local_costmap/params/common_costmap.yaml"
      command="load" ns="global_costmap"/>
    <rosparam
      file="$(arg root)/xloki_local_costmap/params/global_costmap.yaml"
      command="load" ns="global_costmap"/>
  </node>
</launch>
