<launch>
  <node name="arduino" pkg="bus_server" type="bus_server.py" output="screen">
    <rosparam file="$(find ubiquity_launches)/exprimental/wayne/params/wayne.yaml"
     command="load" />
  </node>
  <include
   file="$(find ubiquity_launches)/loki_description/launch/description.launch" />
</launch>
