<launch>
  <!--Summary: Show local costmap in RViz. -->
  <!--Overview: The launch file for this directory starts the ROS RViz
      in a mode that shows a local costmap.  -->

  <!-- Required arguments: -->
  <arg name="robot_platform" />
    <!--robot_platform: The robot platform (e.g. "magni", "loki", etc.) -->

  <!-- Convenience arguments: -->
  <arg name="root" value="$(find ubiquity_launches)" />
  <arg name="node" value="rviz_local_costmap" />

  <node name="rviz" pkg="rviz" type="rviz"
   args="-d $(arg root)/$(arg node)/rviz/$(arg robot_platform).rviz"/>
</launch>
