<launch>
  <!-- Required arguments: -->
  <arg name="robot_base" />

  <!-- Convenience arguments: -->
  <arg name="root" value="$(find ubiquity_launches)" />
  <arg name="node" value="rviz_loki_sonar" />

  <!-- Fire off Rviz: -->
  <node pkg="rviz" type="rviz" name="rviz"
   args="-d $(arg root)/$(arg node)/rviz/$(arg robot_base).rviz" />
</launch>
