<launch>
  <!-- Required arguments: -->
  <arg name="robot_base" />

  <!-- Convenience arguments: -->
  <arg name="root" value="$(find ubiquity_launches)" />
  <arg name="node" value="raspicam" />

  <!-- Optional arguments: -->
  <arg name="camera_frame_id" default="" />
  <arg name="camera_info_url"
   default="file://$(arg root)/n_$(arg node)/params/$(arg robot_base).yaml" />
  <arg name="camera_name" default="raspicam" />
  <arg name="framerate" default="30"/>
  <arg name="height" default="480" />
  <arg name="quality" default="20" />
  <arg name="srrc_publishing_mode" default="0" />
  <arg name="tf_prefix" default="" />
  <arg name="width" default="640" />

  <!-- Start raspicam_node: -->
  <node pkg="raspicam" type="raspicam_node" name="$(arg node)"
   output="screen">
    <param name="camera_frame_id"      value="$(arg camera_frame_id)" />
    <param name="camera_info_url"      value="$(arg camera_info_url)" />
    <param name="camera_name"          value="$(arg camera_name)" />
    <param name="framerate"            value="$(arg framerate)" />
    <param name="height"               value="$(arg height)" />
    <param name="quality"              value="$(arg quality)" />
    <param name="srrc_publishing_mode" value="$(arg srrc_publishing_mode)" />
    <param name="tf_prefex"            value="$(arg tf_prefix)" />
    <param name="width"                value="$(arg width)" />
  </node>

</launch>
